body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid {
    padding: 3% 15%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
p {
    color: #8f8f8f;
}
/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
    /* top left-right bottom */
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat";
    font-size: 1.2rem;
}

/* Download Buttons */
.download {
    margin: 5% 3% 5% 0;
    /* top right left bottom */
}
/* Title Image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
}
/* Features Section */
#features {
    padding: 7% 15%;
}
.feature-box {
    text-align: center;
    padding: 15px;
}
.icon {
    margin-bottom: 1rem;
    color:#ef8172;
}
.icon:hover {
    color: #ff4c68;
}